@model AmimirMVC.Models.AnimeCLS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnimeCLS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEstreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEstreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecuelaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecuelaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Secuela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Secuela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecuelaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecuelaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precuela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precuela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puntuacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puntuacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Popularidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Popularidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    <div class="text-danger">
        @ViewBag.error
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
